.item
{
   width: 80%;
   height: 30px;
   padding: 10px;
   background-color: rgb(38, 87, 193);
   border-radius: 7px;   
   margin: auto;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   color: white;
   font-size: 24px;
   display: flex;
   justify-content: space-between;
   
}
.todos
{
   margin-top: 40px;
   display: flex;
   flex-direction: column;
   gap: 20px;
}
.delete_button
{
cursor: pointer;
}